@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam:ital,wght@0,100;0,400;0,600;0,700;0,800;1,100;1,400;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fugaz+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
*{
  font-family: 'Be Vietnam', sans-serif;
  margin: 0px;
  padding: 0px;
}
.h1 {
  font-family: 'Be Vietnam', sans-serif;
  font-size: 3rem;
  text-align: center;
  color: brown;
}
.h2 {
  font-size: 2rem;
  color: #333333;
}
.h3{
  font-size: 1.5rem;
  color: #333333;
}
.h4{
  font-size: 1.25rem;
  color: #464646;
}
section {
  padding: 60px 0;
  overflow: hidden;
}
.section-title {
  text-align: center;
  padding: 30px 0;
  position: relative;
}
.section-title h2 {
  font-size: 32px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 20px;
  padding-bottom: 0;
  color: #191919;
  position: relative;
  z-index: 2;
}

.section-title p {
  margin-bottom: 0;
  position: relative;
  z-index: 2;
}
.container{
  padding-left: 100px;
  padding-right: 100px;
}
@media (max-width: 900px){
  .container{
    padding-left: 80px;
    padding-right: 80px;
  }
}
@media (max-width: 500px){
  .container{
    padding-left: 60px;
    padding-right: 60px;
  }
}
@media (max-width: 400px){
  .container{
    padding-left: 50px;
    padding-right: 50px;
  }
}
#topbar {
  background: #191919;
  font-size: 15px;
  height: 30px;
  padding: 5px;
  color: rgba(255, 255, 255, 0.6);
  padding-left: 100px;

}
#topbar .contact-info a {
  line-height: 5px;
  color: #fff;
  transition: 0.3s;
  display: inline-block;
}
#topbar .contact-info a:hover {
  color: #fff;
}
#topbar .contact-info i {
  color: #fff;
  line-height: 0;
  margin-right: 5px;
}
#topbar .contact-info .phone-icon {
  padding-left: 15px;
}
#topbar .social-links a {
  color: rgba(255, 255, 255, 0.6);
  padding: 4px 12px;
  display: inline-block;
  line-height: 1px;
  transition: 0.3s;
}
#topbar .social-links a:hover {
  color: #fff;
}

.navbar{
  position: fixed;
  margin-bottom: 5%;
  text-decoration: none;
  font-family: 'Be Vietnam', sans-serif;

}

nav{
background: #6bb6bb;
height: 80px;
width: 100%;
list-style: none;
}
.logo{
color: white;
font-size: 35px;
line-height: 80px;
padding: 0 100px;
font-weight: 100;
font-style: italic;
}
.logo24{
  font-family: 'Fugaz One', cursive;
 color: #fcac00;
}
nav ul{
float: right;
margin-right: 20px;
}
nav ul li{
display: inline-block;
line-height: 80px;
margin: 0 5px;


}
nav ul li a{
transition: .5s;
color: white;
font-size: 17px;
padding: 7px 13px;
border-radius: 3px;
text-transform: uppercase;
}
a.active,a:hover{
color: #fff;
background: #fcac00;
transition: .5s;
}
.checkbtn{
font-size: 30px;
color: white;
float: right;
line-height: 80px;
margin-right: 40px;
cursor: pointer;
display: none;
}
#check{
display: none;
}
@media (max-width: 1200px){
.logo{
  font-size: 30px;
  padding-left: 50px;
}
nav ul li a{
  font-size: 16px;
}
}
@media (max-width: 1100px){
.checkbtn{
  display: block;
}
ul{
  position: fixed;
  width: 100%;
  height: 100vh;
  background: #6bb6bb;
  top: 100px;
  left: -100%;
  text-align: center;
  transition: all .5s;
}
nav ul li{
  display: block;
  margin: 50px 0;
  line-height: 30px;
}
nav ul li a{
  font-size: 20px;
}
a:hover,a.active{
  background: none;
  color: #fcac00;
}
#check:checked ~ ul{
  left: 0;
}
}
@media (max-width: 600px){
  .logo{
    font-size: 25px;
    padding-left: 20px;
  }
}
@media (max-width: 510px){
  .logo{
    font-size: 20px;
    padding-left: 20px;
  }
}
@media (max-width: 440px){
  .logo{
    font-size: 20px;
    padding-left: 10px;
  }
}
@media (max-width: 360px){
  .logo{
    font-size: 14px;
    padding-left: 10px;
  }
}



/* home section styling */
.home{
  display: flex;
  height: 80vh;
  color: #fff;
  background-size: cover;
width: 100%;

}

.home .max-width{
width: 100%;
display: flex;
justify-content: start;
align-items: center;
}
.hero-welcome{
  font-family: 'Great Vibes', cursive;
  font-size: 5em;
}
.hero-welcome-note{
  padding-top: 1em;
}
.scroll-down-btn{
  display: inline-block;
  text-decoration: none;
  color: #fff;
  border: 2px solid #fff;
  padding: 5px 10px;
  transition: 0.4s linear;
  margin: 2px;
  background-color: none;
  position: absolute;
  bottom: 5em;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-bottom: 20px;
  border-radius: 5px;
}
.scroll-down-btn:hover{
  color: #fff;
}
@media (max-width: 600px){
  .home{
    height: 60vh;
    width: auto;

  }
  .scroll-down-btn{
    bottom: 8em;
  }

  .hero-welcome{
    font-size: 4em;
  }
}
@media (max-width: 500px){
  .home{
    height: 50vh;
  }
  .hero-welcome{
    font-size: 4em;
  }
  
  .scroll-down-btn{
    bottom: 13em;
  }
  
}
@media (max-width: 400px){
  .home{
    height: 50vh;
  }
  .hero-welcome{
    font-size: 3em;
  }
  
  .scroll-down-btn{
    bottom: 11em;
  }
}
/*--------------------------------------------------------------
# timing
--------------------------------------------------------------*/
.timing {
    background-size: cover;
    background: fixed center center;
    margin: 0px;
  }
  .timing .section-title h2{
    font-size: 3em;
    color: #fcac00;
  }
  .timing .section-title p{
    font-size: larger;
    color: #fff;
  }
  

/*--------------------------------------------------------------
# Contact
--------------------------------------------------------------*/
.contact {
padding-top: 50px;
justify-content: center;

}
.contact .section-title h2{
  font-size: 3em;
  color: #fcac00;
}
.contact .section-title p{
  font-size: larger;
  color: #444444;
}
.contact .contact-detail {
  display: flex;
  padding-top: 50px;
 
 }
.contact .info-box {
  color: #444444;
  text-align: center;
  box-shadow: 0 0 30px rgba(214, 215, 216, 0.6);
  padding: 20px 0 30px 0;
  margin: 5px;
  width: 33%;
}
.contact .info-box i {
  font-size: 32px;
  color: #fcac00;
  border-radius: 50%;
  padding: 8px;
  border: 2px dotted #fcac00;
}
.contact .info-box h3 {
  font-size: 20px;
  color: #777777;
  font-weight: 700;
  margin: 10px 0;
}
.contact .info-box p {
  padding: 0;
  line-height: 24px;
  font-size: 14px;
  margin-bottom: 0;
}
.contact .contact-info {
 display: flex;
 padding-top: 50px;
 padding-bottom: 50px;
 margin-left: 10px;
}
.contact .contact-info .contact-form {
  width: 50%;
 }
 .contact .contact-info .map {
  width: 50%;
 }
 .contact .form {
  box-shadow: 0 0 30px rgba(214, 215, 216, 0.6);
  padding: 30px;
  padding-top: 50px;
  padding-bottom: 50px;

}
 fieldset {
  border: medium none !important;
  margin: 0 0 10px;
  padding: 0;
  width: 100%;
}

.input {
  width: 100%;
  border: 1px solid #ccc;
  background: #FFF;
  margin: 0 0 5px;
  padding: 10px;
}

 .input:hover {
  -webkit-transition: border-color 0.3s ease-in-out;
  -moz-transition: border-color 0.3s ease-in-out;
  transition: border-color 0.3s ease-in-out;
  border: 1px solid #aaa;
}

 textarea {
  height: 100px;
  max-width: 100%;
  resize: none;
}
 input:focus,
 textarea:focus {
  outline: 0;
  border: 1px solid #aaa;
}

::-webkit-input-placeholder {
  color: #888;
}

:-moz-placeholder {
  color: #888;
}

::-moz-placeholder {
  color: #888;
}

:-ms-input-placeholder {
  color: #888;
}

.btn{
  margin-top: 10px;
}
.btn button{
  height: 40px;
  width: 100px;
  border: none;
  outline: none;
  background: #fcac00;
  color: #fff;
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
  transition: .3s;
}
.btn button:hover{
  background: #000;
  color: #fff;

}

@media (max-width: 1080px){
  .contact .contact-info {
    display: grid;
   }
   .contact .contact-info .contact-form {
    width: 100%;
    margin-top: 10px;
   }
   .contact .contact-info .map {
    width: 100%;
   }
   .contact .contact-detail {
    display: grid;
    padding-top: 50px;
   
   }
  .contact .info-box {
    color: #444444;
    
    width: 100%;
  }
}








/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer {
  background: #6bb6bb;
  padding: 0 0 30px 0;
  color: #fff;
  font-size: 14px;
}
#footer .row{
  display: flex;
}
#footer .footer-top {
  padding: 60px 0 30px 0;
}
#footer .footer-top .footer-info {
  margin-bottom: 15px;
  background: #208188;
  color: #fff;
  border-top: 4px solid #113f42;
  text-align: center;
  padding: 30px 20px;
  width: 50%;
  margin-right: 10px;
}
#footer .footer-top .footer-info h3 {
  font-size: 36px;
  margin: 0 0 20px 0;
  padding: 2px 0 2px 0;
  line-height: 1;
  font-weight: 700;
}
#footer .footer-top .footer-info h3:hover {
  color: #113f42;
}
#footer .footer-top .footer-info p {
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 0;
  font-family: "Raleway", sans-serif;
}
.social-links {
  margin-top: 40px;
}
.social-links a {
  font-size: 18px;
  display: inline-block;
  background: #4fb4bb;
  color: #fff;
  line-height: 1;
  margin-right: 4px;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 36px;
  line-height: 36px;
  transition: 0.3s;
}
.social-links a:hover {
  background: #00a7b3;
  color: #fff;
  text-decoration: none;
}
#footer .footer-top h4 {
  font-size: 20px;
  font-weight: 600;
  color: #fff;
  position: relative;
  padding-bottom: 12px;
}
#footer .footer-top .footer-contacts {
  margin-bottom: 30px;
  width: 40%;
  margin-left: 10px;
}

#footer .footer-top .footer-contacts ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
#footer .footer-top .footer-contacts ul i {
  padding-right: 8px;
  color: #208188;
  font-size: 18px;
  line-height: 1;
}
#footer .footer-top .footer-contacts ul li {
  padding: 10px 0;
  display: flex;
  align-items: center;
}
#footer .footer-top .footer-contacts ul li:first-child {
  padding-top: 0;
}
#footer .footer-top .footer-contacts ul a {
  color: #fff;
  transition: 0.3s;
  display: inline-block;
  line-height: 1;

}
#footer .footer-top .footer-links ul a:hover {
  color: #208188;
}
#footer .footer-top .footer-links {
  margin-bottom: 30px;
  width: 10%;
  margin-left: 10px;
}
#footer .footer-top .footer-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
#footer .footer-top .footer-links ul i {
  padding-right: 8px;
  color: #208188;
  font-size: 18px;
  line-height: 1;
}
#footer .footer-top .footer-links ul li {
  padding: 10px 0;
  display: flex;
  align-items: center;
}
#footer .footer-top .footer-links ul li:first-child {
  padding-top: 0;
}
#footer .footer-top .footer-links ul a {
  color: #fff;
  transition: 0.3s;
  display: inline-block;
  line-height: 1;

}
#footer .footer-top .footer-links ul a:hover {
  color: #1266F1;
}

#footer .copyright {
  border-top: 1px solid #262626;
  text-align: center;
  padding-top: 30px;
}
#footer .credits {
  padding-top: 5px;
  text-align: center;
  font-size: 13px;
  color: #fff;
}
#footer .credits a {
  color: #0277BD;
}
@media (max-width: 575px) {
  #footer .footer-top .footer-info {
    margin: -20px 0 30px 0;
  }
}